.contact-component {
    min-height: 100vh;
    min-width: 100%;
    background-color: rgba(241, 245, 249, 1);
}

.mailbox {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid #E3E6ED;
    background-color: #FFF;
}

.mailIcon {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #E3E6ED;
}

.supportContentTextColor {
    color: #3E465B;
}