.location-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* overflow-x: auto; */
    width: 100%;
    background: #F4F4F4;
    height: 100vh;
}

.location-title {
    color: #111C18;
    font-size: 1.5rem;
    font-style: normal;
    line-height: normal;
}

.enable-location-button {
    height: 50px;
    background-color: var(--secondarycolor);
    border: none;
    color: var(--blackcolor);
    border-radius: 0.625rem;
}

.manual-location-button {
    height: 50px;
    border-width: 0.063rem;
    border-color: var(--secondarycolor);
    color: var(--blackcolor);
    border-radius: 0.625rem;
}