.map-restaurant-card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;
    border: 0;
    z-index: 1000;
}

.map-close-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #A8A29E;
}

.card-content {
    width: 100%;
}

.new {
    border: 1.2px solid var(--tertiarycolor);
    border-radius: 4px;
}

.following-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 10;
    border-radius: 12px;
    background-color: var(--whitecolor);
}

.tick-size {
    height: 20px;
    width: 20px;
}

.restaurant-card-img {
    height: 110px;
    width: 35%;
    object-fit: cover;
    border-radius: 12px;
}

.off-section {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    border: 1px solid #F4F4F5;
    background: #FAFAF9;
}

.visit-button {
    display: flex;
    width: 40%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--secondarycolor);
}