.main-div {
    height: '100vh', ;
    overflow: 'hidden';
    background-color: white;
}

.main_container {
    height: 100vh;
}

.share-review-main-div {
    max-width: 400px;
    z-index: 1;
    border-radius: 12px;
    height: 87vh;
    display: flex;
    flex-direction: column;
}

.back-to-home-mainDiv {
    max-width: 400px;
    z-index: 1;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 57vh;
}

.img-ratings {
    width: 90px;
}

.btn-shareReview {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 0px;
}

.spnr {
    width: 1.5rem;
    height: 1.5rem;
}

.back-to-home-btn {
    height: 50px;
    border-radius: 8px;
    border: 0px;
}

.content-div {
    flex-grow: 1;
    padding: 10px 20px;
    /* margin-bottom: 5rem */
}

.custom-textarea::placeholder {
    color: rgba(168, 162, 158, 1);
    opacity: 1;
    font-size: 14px;
    padding-top: 6px;

}

.btn-color {
    background-color: rgba(22, 179, 100, 1) !important;
}