.coupons-component {
    width: 100%;
    background-color: #fff;
    position: relative;
    min-height: 100vh;
}

.coupon-card-bg {
    width: 100%;
    height: 140px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.coupon-card-icon {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 100%;
    left: 0px;
    border-radius: 12px 0px 0px 12px;
    object-fit: cover;
    object-position: center;
}

.coupon-code-place {
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #F1F5F9;
}

.coupon-card-content {
    width: 70%;
    height: 100%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.coupon-apply {
    height: 40px;
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CCAD11;
    border-radius: 8px;
    border: 1px solid #CCAD11;
}