.splash-screen-component {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(169deg, #0C2237 5.35%, #111727 58.73%), url('../../assets/PNG/OnBoarding.png') no-repeat center center;*/
    background-color: #0C2237;
    background-image: url('../../assets/PNG/OnBoarding.png');
}

.app-name {
    font-size: 3rem;
    line-height: 121.038%;
}

.loader-position-bottom {
    position: absolute;
    bottom: 10%;
}