.location-component {
  display: flex;
  width: 100%;
  background: #F4F4F4;
  height: 100%;
  position: relative;
}

.fetch-search-container {
  position: relative;
  width: 90%;
  align-self: center;
  padding: 0.3125rem;
}

.fetch-search-icon {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fetch-search-input {
  width: 88%;
  height: 100%;
  font-size: 0.875rem;
  /* 14px */
  outline: none;
}

.fetch-search-input::placeholder {
  color: var(--placeholdercolor);
}

.location-suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 18.75rem;
  overflow-y: auto;
}

.location-suggestion-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  /* 12px */
  cursor: pointer;
  border-bottom: 0.0625rem solid #eee;
  /* 1px */
}

.location-suggestion-item:last-child {
  border-bottom: none;
}

.location-suggestion-item:hover {
  background-color: #f5f5f5;
}

.location-suggestion-details {
  flex: 1;
}

.location-suggestion-name {
  font-size: 0.875rem;
  /* 14px */
  font-weight: 500;
  color: #333;
}

.location-suggestion-address {
  font-size: 0.75rem;
  /* 12px */
  color: #666;
  margin-top: 0.125rem;
  /* 2px */
}

.current-location {
  color: #888;
  font-style: normal;
}

.change-button {
  display: flex;
  width: 5rem;
  height: 2.5rem;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  border-radius: 0.3125rem;
  border: 0.06rem solid #E5E9EF;
  color: var(--tertiarycolor);
}

.address-pin {
  width: 8%;
}

.address-content {
  width: 92%;
}

.current-location-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  background-color: white;
  border: 0.0625rem solid var(--tertiarycolor);
  border-radius: 0.625rem;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1);
  color: var(--tertiarycolor);
}

.address-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-input{
  width: 100%;
  padding: 10px;
  border-bottom: 0.063rem solid #DDD;
}

