.header-component {
    /* height: 146px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, #004F4F 0%, #002A4A 100%);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.profile-icon-size {
    height: 46px;
    width: 46px;
}

.location-icon-size {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.arrow-icon-size {
    height: 13px;
    width: 13px;
    margin-left: 8px;
}

.search-icon-size {
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.header-content {
    width: 80%;
}

.address-name {
    max-width: 70%;
}

.input-container {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--Main-colors-borderPrimary, #E5E7EB);
    background: var(--Main-colors-surface, #FFF);
    overflow: hidden;
    margin-top: 12px;
    padding: 12px 12px;
}

.search-input {
    height: 100%;
    width: 100%;
}