.otp-orderid {
    border: 1px solid rgba(229, 231, 235, 1);
    padding: 16px
}

.refresh {
    border: 1px solid rgba(229, 231, 235, 1);
    padding: 6px 18px 6px 18px
}

.order-placed-text {
    color: rgba(89, 87, 78, 1)
}

.order-status {
    width: 50px;
    height: 50px
}

.order-status-updated {
    border: 1px solid rgba(237, 204, 39, 1);
    background: rgba(237, 204, 39, 0.1)
}

.order-status-container {
    padding: 12px 24px;
    border: 1px solid rgba(229, 231, 235, 1)
}

.order-status-notupadted {
    background: rgba(229, 231, 235, 1);
    border: 0px
}

.timer {
    color: rgba(168, 162, 158, 1)
}

.timer span {
    color: rgba(229, 72, 77, 1);
}

.warning-data {
    z-index: 100;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5)
}

.qrText {
    background: rgba(244, 244, 245, 1)
}

.order-id {
    color: rgba(17, 28, 24, 1)
}

.order-status-cancelled {
    background-color: rgba(255, 0, 0, 0.2);
}