.orders {
    width: 100%;
    background-color: #FAFAF9;
    position: relative;
    min-height: 100vh;
}

.filter-pill {
    background-color: var(--whitecolor);
    border: 1px solid #E5E9EF;
    border-radius: 25px;
}

.close {
    height: 14px;
    width: 14px;
}

.order-card {
    border-radius: 12px;
    border: 1px solid #E5E9EF;
    overflow: hidden;
}

.order-head {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-bg {
    background-color: var(--whitecolor);
    border-radius: 12px;
}

.image {
    height: 110px;
    width: 96px;
    border-radius: 12px;
}

.add-icon {
    height: 28px;
    width: 28px;
}

.order-content {
    width: 67%;
}