.banner-card {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.content-area {
    height: 100%;
    width: 63%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-img {
    height: 135px;
    width: 130px;
    object-fit: contain;
}